name: MacOS Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
        default: '1.0.0'
      release_notes:
        description: 'Release notes'
        required: false
        default: 'New release'

jobs:
  build:
    name: Build release distributable
    uses: ./.github/workflows/macos-build.yml
    with:
      version: ${{ github.event.inputs.version }}

  release:
    name: Create release on GitHub
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Add logs for debugging
        run: |
          echo "Version: '${{ github.event.inputs.version }}'"
          echo "Files: '${{ needs.build.outputs.zip_path }}'"
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.event.inputs.version }}
          name: Release v${{ github.event.inputs.version }}
          body: ${{ github.event.inputs.release_notes }}
          draft: false
          prerelease: false
          files: ${{ needs.build.outputs.zip_path }}
